---
import type { Translations } from '../i18n/fr';
import Hr from './Hr.astro';

type Props = { translations: Translations };
const { translations } = Astro.props as Props;
---

<div class="min-h-screen bg-white flex flex-col items-start">
  <main class="container mx-auto max-w-[1024px] w-full px-4">
    <section class="w-full py-[120px] grid grid-cols-12 gap-10 justify-center">
      <h1
      class="col-span-12 font-title text-[64px] font-bold text-primary leading-normal tracking-[1.28px] max-w-[996px]"
    >
      KIME
    </h1>
      <h1
        class="col-span-12 font-title text-[64px] font-bold text-primary leading-normal tracking-[1.28px] max-w-[996px]"
      >
        {translations.hero.title}
      </h1>
      <p
        class="col-span-12 font-body text-[28px] font-medium text-accent leading-normal max-w-[996px]"
      >
        <span set:html={translations.hero.intro} />
      </p>
      <p
        class="col-span-12 font-body text-[28px] font-medium text-primary leading-normal max-w-[996px]"
      >
        {translations.hero.mission}
      </p>
    </section>

    <section
      id="contact"
      class="w-full pb-[120px] grid grid-cols-12 gap-y-[90px] gap-x-4 justify-center"
    >
      <Hr className="col-span-12" />
      <div class="col-span-12 flex flex-col gap-2 items-start">
        <p class="font-body text-base font-bold text-primary">
          {translations.contact.title}
        </p>
        <p class="font-body text-[28px] font-medium text-accent">
          {translations.contact.emailLabel}
          <a
            href={`mailto:${translations.contact.email}`}
            class="underline cursor-pointer">{translations.contact.email}</a
          >
        </p>
      </div>
    </section>
  </main>
</div>
